# Dependencies
node_modules

# Next.js
.next
out
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Local DB
*.sqlite
*.sqlite-journal

# Tooling caches
.cache
.eslintcache
coverage
playwright-report
test-results

# OS
.DS_Store
